</tr></thead><tbody><tr><th><a href="https://shop.kingarthurbaking.com/items/00-pizza-flour-3-lbs">'00' Pizza Flour</a></th>
	<td>1 cup</td>
	<td>4</td>
	<td>116</td>
</tr><tr><th><a href="https://shop.kingarthurbaking.com/items/king-arthur-unbleached-all-purpose-flour-3-lb">All-Purpose Flour</a></th>
	<td>1 cup</td>
	<td>4 1/4</td>
	<td>120</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/almond-flour-1lb">Almond Flour</a></th>
	<td>1 cup</td>
	<td>3 3/8</td>
	<td>96</td>
</tr><tr><th>Almond meal</th>
	<td>1 cup</td>
	<td>3</td>
	<td>84</td>
</tr><tr><th>Almond paste (packed)</th>
	<td>1 cup</td>
	<td>9 1/8</td>
	<td>259</td>
</tr><tr><th>Almonds (sliced)</th>
	<td>1/2 cup</td>
	<td>1 1/2</td>
	<td>43</td>
</tr><tr><th>Almonds (slivered)</th>
	<td>1/2 cup</td>
	<td>2</td>
	<td>57</td>
</tr><tr><th>Almonds, whole (unblanched)</th>
	<td>1 cup</td>
	<td>5</td>
	<td>142</td>
</tr><tr><th>Amaranth flour</th>
	<td>1 cup</td>
	<td>3 5/8</td>
	<td>103</td>
</tr><tr><th>Apple juice concentrate</th>
	<td>1/4 cup</td>
	<td>2 1/2</td>
	<td>70</td>
</tr><tr><th>Apples (dried, diced)</th>
	<td>1 cup</td>
	<td>3</td>
	<td>85</td>
</tr><tr><th>Apples (peeled, sliced)</th>
	<td>1 cup</td>
	<td>4</td>
	<td>113</td>
</tr><tr><th>Applesauce</th>
	<td>1 cup</td>
	<td>9</td>
	<td>255</td>
</tr><tr><th>Apricots (dried, diced)</th>
	<td>1/2 cup</td>
	<td>2 1/4</td>
	<td>64</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/king-arthur-european-style-artisan-bread-flour-3-lb">Artisan Bread Flour</a></th>
	<td>1 cup</td>
	<td>4 1/4</td>
	<td>120</td>
</tr><tr><th><a href="https://shop.kingarthurbaking.com/items/artisan-bread-topping-8-oz">Artisan Bread Topping</a></th>
	<td>1/4 cup</td>
	<td>1 1/2</t>
	<td>43</td>
</tr><tr><th><a href="https://shdop.kingarthurflour.com/items/bakers-cinnamon-filling-24-oz">Baker's Cinnamon Filling</a></th>
	<td>1 cup</td>
	<td>5 3/8</td>
	<td>152</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/bakers-fruit-blend">Baker's Fruit Blend</a></th>
	<td>1 cup</td>
	<td>4 1/2</td>
	<td>128</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/bakers-special-sugar-3-lb">Baker's Special Sugar (superfine sugar, castor sugar)</a></th>
	<td>1 cup</td>
	<td>6 3/4</td>
	<td>190</td>
</tr><tr><th>Baking powder</th>
	<td>1 tea­spoon</td>
	<td> </td>
	<td>4</td>
</tr><tr><th>Baking soda</th>
	<td>1/2 tea­spoon</td>
	<td> </td>
	<td>3</td>
</tr><tr><th><a href="https://shop.kingarthurbaking.com/items/baking-sugar-alternative-12-oz">Baking Sugar Alternative</a></th>
	<td>1 cup</td>
	<td>6</td>
	<td>170</td>
</tr><tr><th>Bananas (mashed)</th>
	<td>1 cup</td>
	<td>8</td>
	<td>227</td>
</tr><tr><th>Barley (cooked)</th>
	<td>1 cup</td>
	<td>7 5/8</td>
	<td>215</td>
</tr><tr><th>Barley (pearled)</th>
	<td>1 cup</td>
	<td>7 1/2</td>
	<td>213</td>
</tr><tr><th>Barley flakes</th>
	<td>1/2 cup</td>
	<td>1 5/8</td>
	<td>46</td>
</tr><tr><th>Barley flour</th>
	<td>1 cup</td>
	<td>3</td>
	<td>85</td>
</tr><tr><th>Barley malt syrup</th>
	<td>2 tablespoons</td>
	<td>1 1/2</td>
	<td>42</td>
</tr><tr><th>Basil pesto</th>
	<td>2 table­spoons</td>
	<td>1</td>
	<td>28</td>
</tr><tr><th>Bell peppers (fresh)</th>
	<td>1 cup</td>
	<td>5</td>
	<td>142</td>
</tr><tr><th>Berries (frozen)</th>
	<td>1 cup</td>
	<td>5</td>
	<td>142</td>
</tr><tr><th><a href="https://shop.kingarthurbaking.com/items/better-cheddar-cheese-powder">Better Cheddar Cheese Powder</a></th>
	<td>1/2 cup</td>
	<td>2</td>
	<td>57</td>
</tr><tr><th>Blueberries (dried)</th>
	<td>1 cup</td>
	<td>5 1/2</td>
	<td>156</td>
</tr><tr><th>Blueberries (fresh or frozen)</th>
	<td>1 cup</td>
	<td>5 to 6</td>
	<td>170</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/bow-hill-organic-blueberry-juice">Blueberry juice</a></th>
	<td>1 cup</td>
	<td>8 1/2</td>
	<td>241</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/boiled-cider-1-pint">Boiled cider</a></th>
	<td>1/4 cup</td>
	<td>3</td>
	<td>85</td>
</tr><tr><th>Bran cereal</th>
	<td>1 cup</td>
	<td>2 1/8</td>
	<td>60</td>
</tr><tr><th>Bread crumbs (dried)</th>
	<td>1/4 cup</td>
	<td>1</td>
	<td>28</td>
</tr><tr><th>Bread crumbs (fresh)</th>
	<td>1/4 cup</td>
	<td>3/4</td>
	<td>21</td>
</tr><tr><th>Bread crumbs (Japanese Panko)</th>
	<td>1 cup</td>
	<td>1 3/4</td>
	<td>50</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/king-arthur-unbleached-bread-flour-5-lb">Bread Flour</a></th>
	<td>1 cup</td>
	<td>4 1/4</td>
	<td>120</td>
</tr><tr><th>Brown rice (cooked)</th>
	<td>1 cup</td>
	<td>6</td>
	<td>170</td>
</tr><tr><th>Brown rice flour</th>
	<td>1 cup</td>
	<td>4 1/2</td>
	<td>128</td>
</tr><tr><th>Brown sugar (dark or light, packed)</th>
	<td>1 cup</td>
	<td>7 1/2</td>
	<td>213</td>
</tr><tr><th>Buckwheat (whole)</th>
	<td>1 cup</td>
	<td>6</td>
	<td>170</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/buckwheat-flour-2-lb">Buckwheat Flour</a></th>
	<td>1 cup</td>
	<td>4 1/4</td>
	<td>120</td>
</tr><tr><th>Bulgur</th>
	<td>1 cup</td>
	<td>5 3/8</td>
	<td>152</td>
</tr><tr><th>Butter</th>
	<td>8 table­spoons (1/2 cup)</td>
	<td>4</td>
	<td>113</td>
</tr><tr><th>Buttermilk</th>
	<td>1 cup</td>
	<td>8</td>
	<td>227</td>
</tr><tr><th><a href="https://shop.kingarthurbaking.com/items/dried-buttermilk-powder-16-oz">Buttermilk powder</a></th>
	<td>2 tablespoons</td>
	<td>2/3</td>
	<td>18</td>
</tr><tr><th>Cacao nibs</th>
	<td>1 cup</td>
	<td>4 1/4</td>
	<td>120</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/cake-enhancer-9-oz-jar">Cake Enhancer</a></th>
	<td>2 table­spoons</td>
	<td>1/2</td>
	<td>14</td>
</tr><tr><th>Candied peel</th>
	<td>1/2 cup</td>
	<td>3</td>
	<td>85</td>
</tr><tr><th>Caramel (14-16 individual pieces, 1" squares)</th>
	<td>1/2 cup</td>
	<td>5</td>
	<td>142</td>
</tr><tr><th>Caramel bits (chopped Heath or toffee)</th>
	<td>1 cup</td>
	<td>5 1/2</td>
	<td>156</td>
</tr><tr><th>Caraway seeds</th>
	<td>2 table­spoons</td>
	<td>5/8</td>
	<td>18</td>
</tr><tr><th>Carrots (cooked and puréed)</th>
	<td>1/2 cup</td>
	<td>4 1/2</td>
	<td>128</td>
</tr><tr><th>Carrots (diced)</th>
	<td>1 cup</td>
	<td>5</td>
	<td>142</td>
</tr><tr><th>Carrots (grated)</th>
	<td>1 cup</td>
	<td>3 1/2</td>
	<td>99</td>
</tr><tr><th>Cashews (chopped)</th>
	<td>1 cup</td>
	<td>4</td>
	<td>113</td>
</tr><tr><th>Cashews (whole)</th>
	<td>1 cup</td>
	<td>4</td>
	<td>113</td>
</tr><tr><th>Celery (diced)</th>
	<td>1 cup</td>
	<td>5</td>
	<td>142</td>
</tr><tr><th>Cheese (Feta)</th>
	<td>1/2 cup</td>
	<td>2</td>
	<td>57</td>
</tr><tr><th>Cheese (grated cheddar, jack, mozzarella, or Swiss)</th>
	<td>1 cup</td>
	<td>4</td>
	<td>113</td>
</tr><tr><th>Cheese (grated Parmesan)</th>
	<td>1/2 cup</td>
	<td>1 3/4</td>
	<td>50</td>
</tr><tr><th>Cheese (Ricotta)</th>
	<td>1 cup</td>
	<td>8</td>
	<td>227</td>
</tr><tr><th>Cherries (candied)</th>
	<td>1/4 cup</td>
	<td>1 3/4</td>
	<td>50</td>
</tr><tr><th>Cherries (dried)</th>
	<td>1/2 cup</td>
	<td>2 1/2</td>
	<td>71</td>
</tr><tr><th>Cherries (fresh, pitted, chopped)</th>
	<td>1/2 cup</td>
	<td>2 7/8</td>
	<td>80</td>
</tr><tr><th>Cherries (frozen)</th>
	<td>1 cup</td>
	<td>4</td>
	<td>113</td>
</tr><tr><th><a href="https://shop.kingarthurbaking.com/items/cherry-concentrate-16-oz">Cherry Concentrate</a></th>
	<td>2 tablespoons</td>
	<td>1 1/2</td>
	<td>42</td>
</tr><tr><th>Chickpea flour</th>
	<td>1 cup</td>
	<td>3</td>
	<td>85</td>
</tr><tr><th>Chives (fresh)</th>
	<td>1/2 cup</td>
	<td>3/4</td>
	<td>21</td>
</tr><tr><th>Chocolate (chopped)</th>
	<td>1 cup</td>
	<td>6</td>
	<td>170</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/bittersweet-chocolate-chips-16-oz">Chocolate Chips</a></th>
	<td>1 cup</td>
	<td>6</td>
	<td>170</td>
</tr><tr><th><a href="https://shop.kingarthurbaking.com/items/callebaut-semisweet-chocolate-chunks-16-oz">Chocolate Chunks</a></th>
	<td>1 cup</td>
	<td>6</td>
	<td>170</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/cinnamon-sweet-bits">Cinnamon Sweet Bits</a></th>
	<td>1 cup</td>
	<td>5</td>
	<td>140</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/cinnamon-sugar-plus-16-oz">Cinnamon-Sugar</a></th>
	<td>1/4 cup</td>
	<td>1 3/4</td>
	<td>50</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/triple-cocoa-blend-16-oz">Cocoa (unsweetened)</a></th>
	<td>1/2 cup</td>
	<td>1 1/2</td>
	<td>42</td>
</tr><tr><th>Coconut (sweetened, shredded)</th>
	<td>1 cup</td>
	<td>3</td>
	<td>85</td>
</tr><tr><th>Coconut (toasted)</th>
	<td>1 cup</td>
	<td>3</td>
	<td>85</td>
</tr><tr><th>Coconut (unsweetened, desiccated)</th>
	<td>1 cup</td>
	<td>3</td>
	<td>85</td>
</tr><tr><th>Coconut (unsweetened, large flakes)</th>
	<td>1 cup</td>
	<td>2 1/8</td>
	<td>60</td>
</tr><tr><th>Coconut (unsweetened, shredded)</th>
	<td>1 cup</td>
	<td>1 7/8</td>
	<td>53</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/coconut-flour-1-lb">Coconut Flour</a></th>
	<td>1 cup</td>
	<td>4 1/2</td>
	<td>128</td>
</tr><tr><th>Coconut milk; canned, well shaken</th>
	<td>1 cup</td>
	<td>8 1/2</td>
	<td>241</td>
</tr><tr><th>Coconut Milk Powder</th>
	<td>1/2 cup</td>
	<td>2</td>
	<td>57</td>
</tr><tr><th>Coconut oil</th>
	<td>1/2 cup</td>
	<td>4</td>
	<td>113</td>
</tr><tr><th>Coconut sugar</th>
	<td>1/2 cup</td>
	<td>2 3/4</td>
	<td>77</td>
</tr><tr><th>Confectioners' sugar (unsifted)</th>
	<td>2 cups</td>
	<td>8</td>
	<td>227</td>
</tr><tr><th>Cookie crumbs</th>
	<td>1 cup</td>
	<td>3</td>
	<td>85</td>
</tr><tr><th>Corn (popped)</th>
	<td>4 cups</td>
	<td>3/4</td>
	<td>21</td>
</tr><tr><th>Corn syrup</th>
	<td>1 cup</td>
	<td>11</td>
	<td>312</td>
</tr><tr><th>Cornmeal (whole)</th>
	<td>1 cup</td>
	<td>4 7/8</td>
	<td>138</td>
</tr><tr><th>Cornmeal (yellow, Quaker)</th>
	<td>1 cup</td>
	<td>5 1/2</td>
	<td>156</td>
</tr><tr><th>Cornstarch</th>
	<td>1/4 cup</td>
	<td>1</td>
	<td>28</td>
</tr><tr><th>Cracked wheat</th>
	<td>1 cup</td>
	<td>5 1/4</td>
	<td>149</td>
</tr><tr><th>Cranberries (dried)</th>
	<td>1/2 cup</td>
	<td>2</td>
	<td>57</td>
</tr><tr><th>Cranberries (fresh or frozen)</th>
	<td>1 cup</td>
	<td>3 1/2</td>
	<td>99</td>
</tr><tr><th>Cream (heavy cream, light cream, or half &amp; half)</th>
	<td>1 cup</td>
	<td>8</td>
	<td>227</td>
</tr><tr><th>Cream cheese</th>
	<td>1 cup</td>
	<td>8</td>
	<td>227</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/mini-diced-ginger-16-oz">Crystallized ginger</a></th>
	<td>1/2 cup</td>
	<td>3 1/4</td>
	<td>92</td>
</tr><tr><th>Currants</th>
	<td>1 cup</td>
	<td>5</td>
	<td>142</td>
</tr><tr><th>Dates (chopped)</th>
	<td>1 cup</td>
	<td>5 1/4</td>
	<td>149</td>
</tr><tr><th>Demerara sugar</th>
	<td>1 cup</td>
	<td>7 3/4</td>
	<td>220</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/organic-dried-blueberry-powder">Dried Blueberry Powder</a></th>
	<td>1/4 cup</td>
	<td>1</td>
	<td>28</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/bakers-special-dry-milk-16-oz">Dried milk (Baker's Special Dry Milk)</a></th>
	<td>1/4 cup</td>
	<td>1</td>
	<td>28</td>
</tr><tr><th>Dried nonfat milk (powdered)</th>
	<td>1/4 cup</td>
	<td>1</td>
	<td>28</td>
</tr><tr><th>Dried potato flakes (instant mashed potatoes)</th>
	<td>1/2 cup</td>
	<td>1 1/2</td>
	<td>43</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/dried-whole-milk-8-oz">Dried whole milk (powdered)</a></th>
	<td>1/2 cup</td>
	<td>1 3/4</td>
	<td>50</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/king-arthur-extra-fancy-durum-flour-3-lb">Durum Flour</a></th>
	<td>1 cup</td>
	<td>4 3/8</td>
	<td>124</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/easy-roll-dough-improver-10-oz">Easy Roll Dough Improver</a></th>
	<td>2 table­spoons</td>
	<td>5/8</td>
	<td>18</td>
</tr><tr><th>Egg (fresh)</th>
	<td>1 large</td>
	<td>1 3/4</td>
	<td>50</td>
</tr><tr><th>Egg white (fresh)</th>
	<td>1 large</td>
	<td>1 1/4</td>
	<td>35</td>
</tr><tr><th>Egg whites (dried)</th>
	<td>2 table­spoons</td>
	<td>3/8</td>
	<td>11</td>
</tr><tr><th>Egg yolk (fresh)</th>
	<td>1 large</td>
	<td>1/2</td>
	<td>14</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/espresso-powder-3-oz">Espresso Powder</a></th>
	<td>1 table­spoon</td>
	<td>1/4</td>
	<td>7</td>
</tr><tr><th><a href="https://shop.kingarthurbaking.com/items/everything-bagel-topping-8-oz">Everything Bagel Topping</a></th>
	<td>1/4 cup</td>
	<td>1 1/4</td>
	<td>35</td>
</tr><tr><th>Figs (dried, chopped)</th>
	<td>1 cup</td>
	<td>5 1/4</td>
	<td>149</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/king-arthur-first-clear-flour-3-lb">First Clear Flour</a></th>
	<td>1 cup</td>
	<td>3 3/4</td>
	<td>106</td>
</tr><tr><th>Flax meal</th>
	<td>1/2 cup</td>
	<td>1 3/4</td>
	<td>50</td>
</tr><tr><th>Flaxseed</th>
	<td>1/4 cup</td>
	<td>1 1/4</td>
	<td>35</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/organic-french-style-flour-3-lb">French-Style Flour</a></th>
	<td>1 cup</td>
	<td>4 1/4</td>
	<td>120</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/fruitcake-fruit-blend-20-oz">Fruitcake Fruit Blend</a></th>
	<td>1 cup</td>
	<td>4 1/4</td>
	<td>120</td>
</tr><tr><th>Garlic (cloves, in skin for roasting)</th>
	<td>1 large head</td>
	<td>4</td>
	<td>113</td>
</tr><tr><th>Garlic (minced)</th>
	<td>2 table­spoons</td>
	<td>1</td>
	<td>28</td>
</tr><tr><th>Garlic (peeled and sliced)</th>
	<td>1 cup</td>
	<td>5 1/4</td>
	<td>149</td>
</tr><tr><th>Ginger (fresh, sliced)</th>
	<td>1/4 cup</td>
	<td>2</td>
	<td>57</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/gluten-free-all-purpose-baking-mix">Gluten-Free All-Purpose Baking Mix</a></th>
	<td>1 cup</td>
	<td>4 1/4</td>
	<td>120</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/gluten-free-multi-purpose-flour">Gluten-Free All-Purpose Flour</a></th>
	<td>1 cup</td>
	<td>5 1/2</td>
	<td>156</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/measure-for-measure-gluten-free-flour-3-lb">Gluten-Free Measure for Measure Flour</a></th>
	<td>1 cup</td>
	<td>4 1/4</td>
	<td>120</td>
</tr><tr><th>Gluten-Free sourdough starter</th>
	<td>1 cup</td>
	<td>8</td>
	<td>241</td>
</tr><tr><th>Graham cracker crumbs (boxed)</th>
	<td>1 cup</td>
	<td>3 1/2</td>
	<td>99</td>
</tr><tr><th>Graham crackers (crushed)</th>
	<td>1 cup</td>
	<td>5</td>
	<td>142</td>
</tr><tr><th>Granola</th>
	<td>1 cup</td>
	<td>4</td>
	<td>113</td>
</tr><tr><th>Grape Nuts</th>
	<td>1/2 cup</td>
	<td>2</td>
	<td>57</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/harvest-grains-blend-2-lb">Harvest Grains Blend</a></th>
	<td>1/2 cup</td>
	<td>2 5/8</td>
	<td>74</td>
</tr><tr><th>Hazelnut flour</th>
	<td>1 cup</td>
	<td>3 1/8</td>
	<td>89</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/hazelnut-praline-paste">Hazelnut Praline Paste</a></th>
	<td>1/2 cup</td>
	<td>5 1/2</td>
	<td>156</td>
</tr><tr><th>Hazelnut spread</th>
	<td>1/2 cup</td>
	<td>5 5/8</td>
	<td>160</td>
</tr><tr><th>Hazelnuts (whole)</th>
	<td>1 cup</td>
	<td>5</td>
	<td>142</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/hi-maize-natural-fiber-9-oz-jar">Hi-Maize Natural Fiber</a></th>
	<td>1/4 cup</td>
	<td>1 1/8</td>
	<td>32</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/king-arthur-sir-lancelot-unbleached-hi-gluten-flour-3-lb">High-Gluten Flour</a></th>
	<td>1 cup</td>
	<td>4 1/4</td>
	<td>120</td>
</tr><tr><th>Honey</th>
	<td>1 table­spoon</td>
	<td>3/4</td>
	<td>21</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/instant-clearjel-8-oz">Instant ClearJel</a></th>
	<td>1 table­spoon</td>
	<td>3/8</td>
	<td>11</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/king-arthur-irish-style-wholemeal-flour-3-lb">Irish-Style Flour</a></th>
	<td>1 cup</td>
	<td>3 7/8</td>
	<td>110</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/king-arthur-italian-style-flour-3-lb">Italian-Style Flour</a></th>
	<td>1 cup</td>
	<td>3 3/4</td>
	<td>106</td>
</tr><tr><th>Jam or preserves</th>
	<td>1/4 cup</td>
	<td>3</td>
	<td>85</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/raspberry-jammy-bits-8-oz">Jammy Bits</a></th>
	<td>1 cup</td>
	<td>6 1/2</td>
	<td>184</td>
</tr><tr><th><a href="https://shop.kingarthurbaking.com/items/keto-wheat-flour-16-oz">Keto Wheat Flour</a></th>
	<td>1 cup</td>
	<td>4 1/4</td>
	<td>120</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/floribbean-key-lime-juice-12-oz">Key Lime Juice</a></th>
	<td>1 cup</td>
	<td>8</td>
	<td>227</td>
</tr><tr><th>Lard</th>
	<td>1/2 cup</td>
	<td>4</td>
	<td>113</td>
</tr><tr><th>Leeks (diced)</th>
	<td>1 cup</td>
	<td>3 1/4</td>
	<td>92</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/lemon-juice-fruit-powder-6-oz">Lemon Juice Powder</a></th>
	<td>2 table­spoons</td>
	<td>5/8</td>
	<td>18</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/lime-juice-fruit-powder-6-oz">Lime Juice Powder</a></th>
	<td>2 table­spoons</td>
	<td>5/8</td>
	<td>18</td>
</tr><tr><th>Macadamia nuts (whole)</th>
	<td>1 cup</td>
	<td>5 1/4</td>
	<td>149</td>
</tr><tr><th>Malt syrup</th>
	<td>2 table­spoons</td>
	<td>1 1/2</td>
	<td>43</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/malted-milk-powder-12-oz">Malted Milk Powder</a></th>
	<td>1/4 cup</td>
	<td>1 1/4</td>
	<td>35</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/malted-wheat-flakes-2-lb">Malted Wheat Flakes</a></th>
	<td>1/2 cup</td>
	<td>2 1/4</td>
	<td>64</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/vermont-maple-sugar">Maple sugar</a></th>
	<td>1/2 cup</td>
	<td>2 3/4</td>
	<td>78</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/grade-b-maple-syrup-1-pint">Maple syrup</a></th>
	<td>1/2 cup</td>
	<td>5 1/2</td>
	<td>156</td>
</tr><tr><th>Marshmallow crème</th>
	<td>1 cup</td>
	<td>3</td>
	<td>85</td>
</tr><tr><th>Marshmallow Fluff®</th>
	<td>1 cup</td>
	<td>4 1/2</td>
	<td>128</td>
</tr><tr><th>Marshmallows (mini)</th>
	<td>1 cup</td>
	<td>1 1/2</td>
	<td>43</td>
</tr><tr><th>Marzipan</th>
	<td>1 cup</td>
	<td>10 1/8</td>
	<td>290</td>
</tr><tr><th><a href="https://shop.kingarthurbaking.com/items/organic-masa-harina-2-lb">Masa Harina</a></th>
	<td>1 cup</td>
	<td>3 1/4</td>
	<td>93</td>
</tr><tr><th>Mascarpone cheese</th>
	<td>1 cup</td>
	<td>8</td>
	<td>227</td>
</tr><tr><th>Mashed potatoes</th>
	<td>1 cup</td>
	<td>7 1/2</td>
	<td>213</td>
</tr><tr><th>Mashed sweet potatoes</th>
	<td>1 cup</td>
	<td>8 1/2</td>
	<td>240</td>
</tr><tr><th>Mayonnaise</th>
	<td>1/2 cup</td>
	<td>4</td>
	<td>113</td>
</tr><tr><th><a href="https://shop.kingarthurbaking.com/items/organic-medium-rye-3-lbs">Medium Rye Flour</a></th>
	<td>1 cup</td>
	<td>3 3/4</td>
	<td>106</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/meringue-powder-8-oz">Meringue powder</a></th>
	<td>1/4 cup</td>
	<td>1 1/2</td>
	<td>43</td>
</tr><tr><th>Milk (evaporated)</th>
	<td>1/2 cup</td>
	<td>4</td>
	<td>113</td>
</tr><tr><th>Milk (fresh)</th>
	<td>1 cup</td>
	<td>8</td>
	<td>227</td>
</tr><tr><th>Millet (whole)</th>
	<td>1/2 cup</td>
	<td>3 5/8</td>
	<td>103</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/callebaut-mini-chips-16-oz">Mini chocolate chips</a></th>
	<td>1 cup</td>
	<td>6 1/4</td>
	<td>177</td>
</tr><tr><th>Molasses</th>
	<td>1/4 cup</td>
	<td>3</td>
	<td>85</td>
</tr><tr><th>Mushrooms (sliced)</th>
	<td>1 cup</td>
	<td>2 3/4</td>
	<td>78</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/non-diastatic-malt-powder-16-oz">Non-Diastatic Malt Powder</a></th>
	<td>2 table­spoons</td>
	<td>5/8</td>
	<td>18</td>
</tr><tr><th>Oat bran</th>
	<td>1/2 cup</td>
	<td>1 7/8</td>
	<td>53</td>
</tr><tr><th>Oat flour</th>
	<td>1 cup</td>
	<td>3 1/4</td>
	<td>92</td>
</tr><tr><th>Oats (old-fashioned or quick-cooking)</th>
	<td>1 cup</td>
	<td>3 1/8</td>
	<td>89</td>
</tr><tr><th>Olive oil</th>
	<td>1/4 cup</td>
	<td>1 3/4</td>
	<td>50</td>
</tr><tr><th>Olives (sliced)</th>
	<td>1 cup</td>
	<td>5</td>
	<td>142</td>
</tr><tr><th>Onions (fresh, diced)</th>
	<td>1 cup</td>
	<td>5</td>
	<td>142</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/paleo-baking-flour-1-lb">Paleo Baking Flour</a></th>
	<td>1 cup</td>
	<td>3 5/8</td>
	<td>104</td>
</tr><tr><th>Palm shortening</th>
	<td>1/4 cup</td>
	<td>1 1/2</td>
	<td>45</td>
</tr><tr><th>Passion fruit purée </th>
	<td>1/3 cup</td>
	<td>2 1/8</td>
	<td>60</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/king-arthur-perfect-pasta-blend-3-lb">Pasta Flour Blend</a></th>
	<td>1 cup</td>
	<td>5 1/8</td>
	<td>145</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/king-arthur-unbleached-pastry-flour-3-lb">Pastry Flour</a></th>
	<td>1 cup</td>
	<td>3 3/4</td>
	<td>106</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/pastry-flour-blend-3-lb">Pastry Flour Blend</a></th>
	<td>1 cup</td>
	<td>4</td>
	<td>113</td>
</tr><tr><th>Peaches (peeled and diced)</th>
	<td>1 cup</td>
	<td>6</td>
	<td>170</td>
</tr><tr><th>Peanut butter</th>
	<td>1/2 cup</td>
	<td>4 3/4</td>
	<td>135</td>
</tr><tr><th>Peanuts (whole, shelled)</th>
	<td>1 cup</td>
	<td>5</td>
	<td>142</td>
</tr><tr><th>Pears (peeled and diced)</th>
	<td>1 cup</td>
	<td>5 3/4</td>
	<td>163</td>
</tr><tr><th>Pecan Meal</th>
	<td>1 cup</td>
	<td>2 3/4</td>
	<td>80</td>
</tr><tr><th>Pecans (diced)</th>
	<td>1/2 cup</td>
	<td>2</td>
	<td>57</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/pie-filling-enhancer-12-oz">Pie Filling Enhancer</a></th>
	<td>1/4 cup</td>
	<td>1 5/8</td>
	<td>46</td>
</tr><tr><th>Pine nuts</th>
	<td>1/2 cup</td>
	<td>2 1/2</td>
	<td>71</td>
</tr><tr><th>Pineapple (crushed, drained)</th>
	<td>1 cup</td>
	<td>9</td>
	<td>256</td>
</tr><tr><th>Pineapple (dried)</th>
	<td>1/2 cup</td>
	<td>2 1/2</td>
	<td>71</td>
</tr><tr><th>Pineapple (fresh or canned, diced)</th>
	<td>1 cup</td>
	<td>6</td>
	<td>170</td>
</tr><tr><th>Pistachio nuts (shelled)</th>
	<td>1/2 cup</td>
	<td>2 1/8</td>
	<td>60</td>
</tr><tr><th>Pistachio Paste</th>
	<td>1/4 cup</td>
	<td>2 3/4</td>
	<td>78</td>
</tr><tr><th><a href="https://shop.kingarthurbaking.com/items/pizza-dough-flavor-4-oz">Pizza Dough Flavor</a></th>
	<td>2 tablespoons</td>
	<td> </td>
	<td>12</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/king-arthur-perfect-pizza-blend-3-lb">Pizza Flour Blend</a></th>
	<td>1 cup</td>
	<td>4 3/8</td>
	<td>124</td>
</tr><tr><th>Pizza sauce</th>
	<td>1/4 cup</td>
	<td>2</td>
	<td>57</td>
</tr><tr><th>Polenta (coarse ground cornmeal)</th>
	<td>1 cup</td>
	<td>5 3/4</td>
	<td>163</td>
</tr><tr><th>Poppy seeds</th>
	<td>2 table­spoons</td>
	<td>5/8</td>
	<td>18</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/king-arthur-potato-flour-16-oz">Potato Flour</a></th>
	<td>1/4 cup</td>
	<td>1 5/8</td>
	<td>46</td>
</tr><tr><th>Potato starch</th>
	<td>1 cup</td>
	<td>5 3/8</td>
	<td>152</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/king-arthur-organic-pumpernickel-flour-3-lb">Pumpernickel Flour</a></th>
	<td>1 cup</td>
	<td>3 3/4</td>
	<td>106</td>
</tr><tr><th>Pumpkin purée </th>
	<td>1 cup</td>
	<td>8</td>
	<td>227</td>
</tr><tr><th>Quinoa (cooked)</th>
	<td>1 cup</td>
	<td>6 1/2</td>
	<td>184</td>
</tr><tr><th>Quinoa (whole)</th>
	<td>1 cup</td>
	<td>6 1/4</td>
	<td>177</td>
</tr><tr><th>Quinoa flour</th>
	<td>1 cup</td>
	<td>3 7/8</td>
	<td>110</td>
</tr><tr><th>Raisins (loose)</th>
	<td>1 cup</td>
	<td>5 1/4</td>
	<td>149</td>
</tr><tr><th>Raisins (packed)</th>
	<td>1/2 cup</td>
	<td>3</td>
	<td>85</td>
</tr><tr><th>Raspberries (fresh)</th>
	<td>1 cup</td>
	<td>4 1/4</td>
	<td>120</td>
</tr><tr><th>Rhubarb (sliced, 1/2" slices)</th>
	<td>1 cup</td>
	<td>4 1/4</td>
	<td>120</td>
</tr><tr><th>Rice (long grain, dry)</th>
	<td>1/2 cup</td>
	<td>3 1/2</td>
	<td>99</td>
</tr><tr><th>Rice flour (white)</th>
	<td>1 cup</td>
	<td>5</td>
	<td>142</td>
</tr><tr><th>Rice Krispies</th>
	<td>1 cup</td>
	<td>1</td>
	<td>28</td>
</tr><tr><th><a href="https://shop.kingarthurbaking.com/items/rye-bread-improver-16-oz">Rye Bread Improver</a></th>
	<td>2 tablespoons</td>
	<td> </td>
	<td>14</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/organic-rye-chops-2-lb">Rye Chops</a></th>
	<td>1 cup</td>
	<td>4 1/4</td>
	<td>120</td>
</tr><tr><th>Rye flakes</th>
	<td>1 cup</td>
	<td>4 3/8</td>
	<td>124</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/perfect-rye-flour-blend-3-lb">Rye Flour Blend</a></th>
	<td>1 cup</td>
	<td>3 3/4</td>
	<td>106</td>
</tr><tr><th>Salt (Kosher, Diamond Crystal)</th>
	<td>1 table­spoon</td>
	<td> </td>
	<td>8</td>
</tr><tr><th>Salt (Kosher, Morton's)</th>
	<td>1 table­spoon</td>
	<td> </td>
	<td>16</td>
</tr><tr><th>Salt (table)</th>
	<td>1 table­spoon</td>
	<td> </td>
	<td>18</td>
</tr><tr><th>Scallions (sliced)</th>
	<td>1 cup</td>
	<td>2 1/4</td>
	<td>64</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/king-arthur-unbleached-self-rising-flour-5-lb">Self-Rising Flour</a></th>
	<td>1 cup</td>
	<td>4</td>
	<td>113</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/king-arthur-semolina-flour-3-lb">Semolina Flour</a></th>
	<td>1 cup</td>
	<td>5 3/4</td>
	<td>163</td>
</tr><tr><th>Sesame seeds</th>
	<td>1/2 cup</td>
	<td>2 1/2</td>
	<td>71</td>
</tr><tr><th>Shallots (peeled and sliced)</th>
	<td>1 cup</td>
	<td>5 1/2</td>
	<td>156</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/six-grain-blend-20-oz">Six-Grain Blend</a></th>
	<td>1 cup</td>
	<td>4 1/2</td>
	<td>128</td>
</tr><tr><th>Sorghum flour</th>
	<td>1 cup</td>
	<td>4 7/8</td>
	<td>138</td>
</tr><tr><th>Sour cream</th>
	<td>1 cup</td>
	<td>8</td>
	<td>227</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/classic-fresh-sourdough-starter-1-oz">Sourdough starter</a></th>
	<td>1 cup</td>
	<td>8 to 8 1/2</td>
	<td>227 to 241</td>
</tr><tr><th>Soy flour</th>
	<td>1/4 cup</td>
	<td>1 1/4</td>
	<td>35</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/sparkling-sugar-15-oz">Sparkling Sugar</a></th>
	<td>1/4 cup</td>
	<td>2</td>
	<td>57</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/king-arthur-organic-whole-spelt-flour-16-oz">Spelt Flour</a></th>
	<td>1 cup</td>
	<td>3 1/2</td>
	<td>99</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/sprouted-wheat-flour-2-lb">Sprouted Wheat Flour</a></th>
	<td>1 cup</td>
	<td>4</td>
	<td>113</td>
</tr><tr><th>Steel cut oats</th>
	<td>1/2 cup</td>
	<td>2 1/2</td>
	<td>70</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/sticky-bun-sugar-176-oz">Sticky Bun Sugar</a></th>
	<td>1 cup</td>
	<td>3 1/2</td>
	<td>99</td>
</tr><tr><th>Strawberries (fresh sliced)</th>
	<td>1 cup</td>
	<td>5 7/8</td>
	<td>167</td>
</tr><tr><th>Sugar (granulated white)</th>
	<td>1 cup</td>
	<td>7</td>
	<td>198</td>
</tr><tr><th>Sugar substitute (Splenda)</th>
	<td>1 cup</td>
	<td>7/8</td>
	<td>25</td>
</tr><tr><th>Sundried tomatoes (dry pack)</th>
	<td>1 cup</td>
	<td>6</td>
	<td>170</td>
</tr><tr><th>Sunflower seeds</th>
	<td>1/4 cup</td>
	<td>1 1/4</td>
	<td>35</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/super-10-flour-blend">Super 10 Blend</a></th>
	<td>1 cup</td>
	<td>3 3/4</td>
	<td>106</td>
</tr><tr><th><a href="https://shop.kingarthurbaking.com/items/sweet-ground-chocolate-and-cocoa-blend-12-oz">Sweet Ground Chocolate and Cocoa Blend</a></th>
	<td>1/4 cup</td>
	<td>1</td>
	<td>28</td>
</tr><tr><th>Sweetened condensed milk</th>
	<td>1/4 cup</td>
	<td>2 3/4</td>
	<td>78</td>
</tr><tr><th>Tahini paste</th>
	<td>1/2 cup</td>
	<td>4 1/2</td>
	<td>128</td>
</tr><tr><th>Tapioca starch or flour</th>
	<td>1 cup</td>
	<td>4</td>
	<td>113</td>
</tr><tr><th>Tapioca (quick cooking)</th>
	<td>2 table­spoons</td>
	<td>3/4</td>
	<td>21</td>
</tr><tr><th>Teff flour</th>
	<td>1 cup</td>
	<td>4 3/4</td>
	<td>135</td>
</tr><tr><th><a href="https://shop.kingarthurbaking.com/items/the-works-bread-topping-8-oz">The Works Bread Topping</a></th>
	<td>1/4 cup</td>
	<td>1 1/4</td>
	<td>35</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/toasted-almond-flour-8-oz">Toasted Almond Flour</a></th>
	<td>1 cup</td>
	<td>3 3/8</td>
	<td>96</td>
</tr><tr><th>Toffee chunks</th>
	<td>1 cup</td>
	<td>5 1/2</td>
	<td>156</td>
</tr><tr><th>Tomato paste</th>
	<td>2 tablespoons</td>
	<td>1</td>
	<td>29</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/tropical-fruit-blend">Tropical Fruit Blend</a></th>
	<td>1 cup</td>
	<td>4 1/2 to 5</td>
	<td>142</td>
</tr><tr><th>Turbinado sugar (raw)</th>
	<td>1 cup</td>
	<td>6 3/8</td>
	<td>180</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/unbleached-cake-flour">Unbleached Cake Flour</a></th>
	<td>1 cup</td>
	<td>4 1/4</td>
	<td>120</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/pure-vanilla-extract-32-oz">Vanilla Extract </a></th>
	<td>1 table­spoon</td>
	<td>1/2</td>
	<td>14</td>
</tr><tr><th>Vegetable oil</th>
	<td>1 cup</td>
	<td>7</td>
	<td>198</td>
</tr><tr><th>Vegetable shortening</th>
	<td>1/4 cup</td>
	<td>1 5/8</td>
	<td>46</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/vital-wheat-gluten-16-oz">Vital Wheat Gluten</a></th>
	<td>2 table­spoons</td>
	<td>5/8</td>
	<td>18</td>
</tr><tr><th>Walnuts (chopped)</th>
	<td>1 cup</td>
	<td>4</td>
	<td>113</td>
</tr><tr><th>Walnuts (whole)</th>
	<td>1/2 cup</td>
	<td>2 1/4</td>
	<td>64</td>
</tr><tr><th>Water</th>
	<td>1 cup</td>
	<td>8</td>
	<td>227</td>
</tr><tr><th>Wheat berries (red)</th>
	<td>1 cup</td>
	<td>6 1/2</td>
	<td>184</td>
</tr><tr><th>Wheat bran</th>
	<td>1/2 cup</td>
	<td>1 1/8</td>
	<td>32</td>
</tr><tr><th>Wheat germ</th>
	<td>1/4 cup</td>
	<td>1</td>
	<td>28</td>
</tr><tr><th>White Chocolate Chips</th>
	<td>1 cup</td>
	<td>6</td>
	<td>170</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/king-arthur-white-rye-flour-3-lb">White Rye Flour</a></th>
	<td>1 cup</td>
	<td>3 3/4</td>
	<td>106</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/king-arthur-white-whole-wheat-flour-5-lb">White Whole Wheat Flour</a></th>
	<td>1 cup</td>
	<td>4</td>
	<td>113</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/whole-grain-flour-blend-2-lb">Whole Grain Flour Blend</a></th>
	<td>1 cup</td>
	<td>4</td>
	<td>113</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/king-arthur-premium-100-whole-wheat-flour-5-lb">Whole Wheat Flour (Premium 100%)</a></th>
	<td>1 cup</td>
	<td>4</td>
	<td>113</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/king-arthur-whole-wheat-pastry-flour-/-graham-flour-3-lb">Whole Wheat Pastry Flour / Graham Flour</a></th>
	<td>1 cup</td>
	<td>3 3/8</td>
	<td>96</td>
</tr><tr><th><a href="https://shop.kingarthurflour.com/items/saf-red-instant-yeast-16-oz">Yeast (instant)</a></th>
	<td>2 tea­spoons</td>
	<td>1/5</td>
	<td>6</td>
</tr><tr><th><a href="https://shop.kingarthurbaking.com/items/saf-red-instant-yeast-16-oz">Yeast (instant)</a></th>
	<td>2 1/4 teaspoons</td>
	<td>1/4</td>
	<td>7</td>
</tr><tr><th><a href="https://shop.kingarthurbaking.com/items/saf-red-instant-yeast-16-oz">Yeast (instant)</a></th>
	<td>1 tablespoon</td>
	<td>1/3</td>
	<td>9</td>
</tr><tr><th>Yogurt</th>
	<td>1 cup</td>
	<td>8</td>
	<td>227</td>
</tr><tr><th>Zucchini (shredded)</th>
	<td>1 cup</td>
	<td>4 1/4 to 5 1/4</td>
	<td>121 to 150</td>